.deck-container {
     position: relative;
     z-index: 1;
     height: 606px;
     width: 326px;
     border: solid;
     border-color: white;
     background-color: black;
     margin-left: 50px;
     
}

.card {
     position: absolute;
     height: 600px;
     width: 320px;
     background-color: white;
     border: 1px solid;
     box-shadow: rgba(0,0,0,0.4);
     padding: 40px;

}