.bg {
     display: flex;
     position: fixed;
     z-index: 3;
     left: 0;
     bottom: 0;
     right: 0;
     top: 0;
     background-color: rgba(0,0,0,0.3);
     padding: 50;

     // .hidden {
     //      display: none
     // }

}

.modal-content {
     margin: 0 auto;
     background-color: black;
     color: white;
     justify-content: center;
     display: flex;
     flex-direction: column;
     height: 500px;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
}