// * {
//      background-color: #2d2d31;
// opacity: 1;
// background-image:  radial-gradient(#f7df45 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#f7df45 0.7000000000000001px, #2d2d31 0.7000000000000001px);
// background-size: 28px 28px;
// background-position: 0 0,14px 14px;
// }


.readings-page-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
}
