html, body {
     width: 100%;
     height: 100%;
     overflow: auto;
}

body {
     margin: 0;
     background: #111;
     ;
   }
   canvas {
        background: #111;
     width: 100%;
     height: auto;
   }

* {
     font-family: "Cinzel", serif;

}